:root {
    --yellow: #f6d365;
    --black: #333333;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

.hamburger {
    color: var(--white);
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    right: 0;
}

/* Header-section */
header {
    height: 800px;
    background: url(../img/banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;

    nav {
        margin: 0 2rem;

        .nav-wrapper {
            position: relative;
            height: 200px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {}

            .menu {
                display: flex;
                list-style: none;

                li {
                    margin-left: 50px;

                    a {
                        color: var(--white);
                        text-decoration: none;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 768px) {
        .hamburger {
            display: none;
        }
    }

    @media screen and (max-width: 768px) {
        height: auto;
        padding: 3rem 0;

        nav {

            .nav-wrapper {
                flex-direction: column;
                align-items: start;
                margin: 3rem 0;
                height: auto;

                .menu.show {
                    display: flex;
                }

                .menu {
                    display: none;
                    flex-direction: column;

                    li {
                        margin-left: 0;
                        margin-top: 2rem;
                    }
                }
            }
        }
    }

    .discount-title {
        .discount-title-wrapper {
            color: var(--white);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            .discount-title-box {
                width: 880px;
                margin: 0.625rem;

                h1 {
                    font-size: clamp(2rem, 10vw, 6.875rem);
                    text-transform: uppercase;
                }

                p {
                    font-size: clamp(1rem, 10vw, 1.875rem);
                }

                .discount-btn {
                    background-color: var(--yellow);
                    color: var(--black);
                    max-width: 320px;
                    width: 100%;
                    height: 65px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-decoration: none;
                    border-radius: 5px;
                    margin-top: 30px;
                }
            }
        }
    }
}

/* Popular Menu Section*/
.popular-menu {
    background: url(../img/popular-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    color: var(--black);
    overflow: hidden;

    .popular-menu-title {
        margin: 3rem 0;
        text-align: center;

        h2 {
            font-size: clamp(2rem, 10vw, 3.875rem);
            text-transform: uppercase;
        }

        p {
            font-size: clamp(1rem, 10vw, 1.625rem);
        }
    }

    .popular-menu-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 3rem;

        .popular-menu-items {
            text-align: center;

            img {
                width: 100%;
            }

            h3 {
                font-size: clamp(1rem, 10vw, 2rem);
                margin: 1rem 0;
            }

            p {
                font-size: clamp(1rem, 10vw, 1.625rem);
            }
        }
    }

    @media screen and (max-width: 768px) {
        height: auto;
        padding: 3rem 0;
    }
}

/* Chiken Wings Sectiion */
.chicken {
    background: url(../img/chicken-wing-bg-black.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;

    .chicken-wrapper {
        display: flex;
        align-items: center;
        height: 800px;

        .chiken-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .chiken--img {
                img {
                    width: 100%;
                }
            }

            .chiken-info {
                max-width: 580px;
                width: 100%;
                color: var(--white);
                padding: 1rem;

                h2 {
                    font-size: clamp(1rem, 10vw, 3.625rem);
                    text-transform: uppercase;
                }

                p {
                    font-size: clamp(1rem, 10vw, 1.5rem);
                    margin-top: 2rem;
                }

                .chicken-btn {
                    background-color: var(--yellow);
                    color: var(--black);
                    max-width: 320px;
                    width: 100%;
                    height: 65px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-decoration: none;
                    border-radius: 5px;
                    margin-top: 30px;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        height: auto;

        .chicken-wrapper {
            height: auto;

            .chiken-box {
                padding: 3rem 0;
                flex-direction: column;
            }
        }
    }
}

/* Stats Section */
.stats {
    background: url(../img/stats-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--black);
    height: 800px;
    overflow: hidden;

    .stats-titel {
        text-align: center;
        margin-top: 4rem;

        h2 {
            font-size: clamp(1rem, 10vw, 3.625rem);
            text-transform: uppercase;
        }

        p {
            font-size: clamp(1rem, 10vw, 1.5rem);
            margin-top: 2rem;
        }
    }

    .stats-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 5rem;
        text-align: center;
        margin-top: 4rem;

        .stats-grid-items {
            border: 10px solid var(--black);
            padding: 8rem 0;
            margin-top: 3rem;

            h3 {
                font-size: clamp(1rem, 10vw, 4rem);
                text-transform: uppercase;
            }

            p {
                font-size: clamp(1rem, 10vw, 2rem);
                font-weight: bold;
            }
        }
    }

    @media screen and (max-width: 768px) {
        height: auto;
        padding: 3rem 0;
    }
}

/* Satay Section */
.satay {
    background: url(../img/chicken-satay-bg-black.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    color: var(--white);

    .satay-wrapper {
        display: flex;
        align-items: center;
        height: 800px;

        .satay-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .satay-info {
                max-width: 580px;
                width: 100%;
                padding: 1rem;

                h3 {
                    font-size: clamp(1rem, 10vw, 3.625rem);
                    text-transform: uppercase;
                }

                p {
                    font-size: clamp(1rem, 10vw, 1.5rem);
                    margin-top: 2rem;
                }
                .satay-btn {
                    background-color: var(--yellow);
                    color: var(--black);
                    max-width: 320px;
                    width: 100%;
                    height: 65px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-decoration: none;
                    border-radius: 5px;
                    margin-top: 30px;
                }
            }

            .satay-img {
                img {
                    width: 100%;
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        height: auto;

        .satay-wrapper {
            height: auto;

            .satay-box {
                flex-direction: column;
                padding: 3rem 0;
            }
        }
    }
}